.navbar {
    width:100%;
    /*background-color: bisque*/;
}

.container {
    max-width:1440px;
    width:100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;
    align-items:center;
    padding:16px;
    /*background-color:aqua*/;
}
.navitems {
    display:inline-flex;
    list-style:none;

}
.navitems > li {
    padding: 0px 24px;
}
.right_actions > a {
padding-right:32px;
}
.right_actions > button {
    padding: 14px 32px;
    border-radius:50px;
    font-size: 16px;
    border: none;
    background-color: rgb(231, 191, 300)
    ;

}